:host {
    ion-grid {
        border: #000000 0.125rem solid;
        margin: 0 !important;
        padding: 0 !important;
        ion-row {
            margin: 0 !important;
            padding: 0 !important;
            ion-col {
                background: #ffffff;
                border: #000000 0.125rem solid;
                margin: 0 !important;
                padding: 0 !important;
            }
        }
    }
}


